<h4>Listado</h4>
<ul class="list-group">
  <!-- Cualquier cosa que va dentro del ngFor es codigo de Javascript
    Lo que permite agregar mas secciones de codigo para extender su potencial
    index es un objeto definido por defecto en el engine
    que avanza conforme el tamaño del objeto utilizado en el ngFor
    first, last, even, odd son propiedades que se pueden utilizar para el
    control de los datos. Cabe decir que al igual que Index
    son proporcionadas directamente por el engine de Angular
    En caso de necesitar alguna variable impuesta por angular que no sea
    estas acudir a la documentacion de la directiva ngFor
  -->
  <li *ngFor="
    let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
    "
    class="list-group-item d-flex justify-content-between align-items-center"
    [ngClass]="{
      'list-group-item-dark': isLast,
      'list-group-item-primary': isFirst
    }"
    >
  <!--

    si se coloca la clase de esta forma [class] se esta indicando que se
    va a modificar la clase de manera dinamica, es decir, que se va a
    modificar en tiempo de ejecucion. Y javascript va a evaluar la expresion
    para activarlo.

    La directiva ngClass funciona con un esquema similar a JSON, donde se
    definen las clases que se quieren agregar y se les asigna un valor booleano
    para su activacion. En este caso se activa la clase list-group-item-success
    si la variable isFirst es verdadera, de lo contrario no se activa.

    Es basicamente activacion de clases de manera condicional.
  -->

  <!--
    Esto se debe de evitar para sobrecargar el HTML de logica.
    Se puede hacer pero no se recomienda

    Para esto se recomienda usar la directiva ngClass

    class="list-group-item {{ isFirst ? 'list-group-item-success' : ''}}">
  -->
  <div>

    <span class="text-primary"> {{ i+1 }}. </span>

    <span>{{character.name}}</span> -

    <strong>Power: </strong>
    {{ character.power }}

    <!-- <span>Es el primero {{isFirst}}</span>
    <span>Es el ultimo {{isLast}}</span> -->
  </div>

    <button (click)="onDeleteCharacter(character.id)" class="btn btn-danger">x</button>
<!--
    <span>Es Par: {{isEven}} </span>
    <span>Es Impar: {{isOdd}} </span> -->
  </li>
</ul>
